html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.w-10 {
	width: 10% !important;
}

.w-15 {
	width: 15% !important;
}

.w-20 {
	width: 20% !important;
}

.color-turn-1 {
	color: darkslateblue;
}

.color-turn-2 {
	color: darkred;
}

.bgcolor-turn-1 {
	background-color: aliceblue;
}

.bgcolor-turn-2 {
	background-color: mistyrose;
}

.game-card-cell-color {
	color: white;
}

.share-color-0, .share-alt-color-0 {
	background-color: white;
}

.share-color-1 {
	background-color: #4285F4;
}

.share-color-2 {
	background-color: #EA4335;
}

.share-color-3 {
	background-color: #FBBC05;
}

.share-color-4 {
	background-color: #34A853;
}

.share-alt-color-1 {
	background-color: #c9dcf8;
}

.share-alt-color-2 {
	background-color: #eac6c2;
}

.share-alt-color-3 {
	background-color: #fcf0cd;
}

.share-alt-color-4 {
	background-color: #bceccf;
}

@media screen and (min-width : 720px) {
	#mobile-only {
		display: none;
	}
	#mobile-only-2 {
		display: none;
	}
}
